<p class="alert alert-warning" *ngIf="errorMessage">{{ errorMessage }}</p>
<h1>Sign in</h1>

<form>
  <input
    type="text"
    name="name"
    required
    [(ngModel)]="name"
    placeholder="name"
    class="form-control"
  />
  <br />

  <input
    type="email"
    name="email"
    required
    [(ngModel)]="email"
    class="form-control"
    placeholder="email"
  />
  <br />

  <input
    type="text"
    name="username"
    autocomplete="username"
    class="form-control"
    required
    placeholder="username"
    [(ngModel)]="username"
  /><br />
  <input
    type="password"
    name="password"
    class="form-control"
    required
    autocomplete="new-password"
    placeholder="password (use more than 6 letter/charecters)"
    [(ngModel)]="password"
  /><br />
</form>

<button class="btn btn-primary" (click)="handleSign()">Sign in</button>
